<head>
    <style>
        .row-logo {background-color: darkcyan;}
        .card {align-content: center;}
    </style>
</head>
<body>
    <div class="row-logo">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzEiYC0euXtHzHqGiSqubXgGSN75fCMKN26A&s" alt="tv" width="70px" height="70px">
                </div>
                <div class="col-6">
                    <h1>TV Series</h1>
                </div>
            </div>
            &nbsp;
        </div>
    </div>
    <div class="container">
        &nbsp;
        <app-serie></app-serie>
    </div>
</body>